@-moz-document url-prefix("http://81dojo.com/client"), url-prefix("https://81dojo.com/secure_client") {
body {
    overflow-x: hidden;
}
}

@-moz-document domain("81dojo.com") {
#entrance-img {
    border: 1px solid #CF9555;
    border-radius: 1px;
}
div#layerLogin.layer div#layerLoginContents div.hbox div.left {
    background:#f7f7f7;
    margin-right: 10px;
    text-align: center;
    border-radius:2px;
}
#loginButton {
    background:#7FB043;
    color:#fff;
}

/* NON-ADMINS don't need this */
#serverGrid {display:none;}

#layerBoard, #layerLobby {
    background: rgba(0, 0, 0, .15) url(https://81dojo.com/secure_client/img/tatami.jpg)!important;
    background-blend-mode: darken;
}

#worldClocks {
background: hsl(0, 0%, 81%, 0.35);
border-radius: 3px;
}
div.clock-box {padding:0!important;}

div#playerListBox {
border: solid 3px #cecece;
border-radius: 3px;
padding-bottom:0;
}




/* board */
div#boardBox {
    background:#755b1e;
    border: solid 1px #644545;
    border-radius: 3px;
}

div.player-info-has-turn {border: solid 3px #ff4000;}
div.game-timer-sub-label {color:#000;}
div.game-timer-sub-label:before {content:'(';}
div.game-timer-sub-label:after {content:')';}

/* player profile pic box */
#goteInfo > span:nth-child(2):before {content:'後手';font-size:12px;}
#senteInfo > span:nth-child(2):before {content:'先手';font-size:12px;}
#goteInfo > span:nth-child(3), #senteInfo > span:nth-child(3) {cursor:pointer;}

/* right side */
div#boardChatBox {
background: #cecece;
border: solid 3px #cecece;
border-radius: 3px;
}
div#kifuBox, div#watcherBox {
background: #cecece;
    border: solid 3px #cecece;
border-radius: 3px;    
}
div#kifuBox {
margin-right: 0px;
width: 89px;
}    

#kifuGrid_wrapper > div > div.dataTables_scrollBody {
    height: 360px !important;
    overflow: hidden !important;
}

table.dataTable thead th, table.dataTable tfoot th, .dataTables_scrollHeadInner {
    background:#ff9611;
}

input#greetButton {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
}

#kifuGrid_wrapper th:nth-child(1) {
    width: 20px !important;
}

#kifuGrid_wrapper th:nth-child(3) {
    visibility: hidden;
}

.local-kifu {
    width: 100% !important;    
}
}
