/* ==UserStyle==
@name           LichessTV Zen Mode
@namespace      github.com/ddugovic/UserStyles
@version        1.0.0
@description    A more relaxed LichessTV experience.
@author         Daniel Dugovic
==/UserStyle== */
@-moz-document url-prefix("https://lichess.org/tv"), url-prefix("https://lidraughts.org/tv") {
body.zen #tv_channels,
body.zen #top {
  opacity: 0;
  transition: 1s;
}
body.zen.offline #reconnecting,
body.zen #tv_channels:hover,
body.zen #top:hover {
  opacity: 1!important;
}
}
