/* ==UserStyle==
@name           Lishogi Large Pocket
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Enlarge captured pieces pocket for 720p display with large board
@author         Daniel Dugoivc
==/UserStyle== */

@-moz-document domain("lishogi.org") {
    .analyse .pocket, .round .pocket {
        flex-wrap: wrap-reverse
    }
    .analyse .pocket-top, .round .pocket-top {
        --grid-area: auto
    }
    .analyse .pocket-c1, .round .pocket-c1 {
        flex: 0 0 18%
    }
}
