/* ==UserStyle==
@name           Lishogi Large Pocket
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Enlarge captured pieces pocket for 720p display with large board
@author         Daniel Dugoivc
==/UserStyle== */

@-moz-document domain("lishogi.org") {
    .analyse .pocket, .puzzle .pocket, .round .pocket {
        flex-wrap: wrap-reverse
    }
    .analyse .pocket-top, .puzzle .pocket-top, .round .pocket-top {
        --grid-area: auto
    }
    .analyse .pocket-c1, .puzzle .pocket-c1, .round .pocket-c1 {
        flex: 0 0 18%
    }
    .puzzle {
        grid-template-areas:
            'side . board gauge pocket-top'
            'side . board gauge tools'
            'side . board gauge pocket-bot'
            'side . session . controls'
            'side . . . .';
        grid-template-rows: -webkit-min-content var(--meta-height) 1fr -webkit-min-content;
        grid-template-rows: min-content var(--meta-height) 1fr min-content;
        grid-template-columns: minmax(220px, 20vw) 3vmin minmax(calc(70vmin * var(--board-scale)), calc(96vh * var(--board-scale) - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem)) var(--gauge-gap) minmax(245px, calc(calc(calc(96vh * var(--board-scale) - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem) / 9) * 7));
    }
}
