/* ==UserStyle==
@name           Terminal Lichess
@namespace      github.com/ddugovic/UserStyles
@version        1.0.0
@description    For those who enjoy using lichess at night. Theme inspired by ANSI terminal look and feel.
@author         Daniel Dugovic
==/UserStyle== */
@-moz-document domain("lichess.org"), domain("lidraughts.org") {
    body.base .cg-board square.exploding1 {
        background-color: rgba(0, 255, 0, 0.5);
    }
    body.base .cg-board square.exploding2 {
        background-color: rgba(0, 255, 255, 0.5);
        transition: background-color 0.1s;
    }
    body.dark square[data-coord-x]::after,
    body.dark square[data-coord-y]::before {
        color: #0F0 !important;
    }
    div.lichess_game div.lichess_board_wrap, div.lidraughts_game div.lidraughts_board_wrap {
        position: relative;
        padding-right: 0px;
        padding-left: 8px;
    }
    .cg-board-wrap coords.files {
        font-size: larger;
        font-weight: bold;
        bottom: -16px;
        text-transform: lowercase;
    }
    .cg-board-wrap coords.ranks {
        font-size: larger;
        font-weight: bold;
    }
    #lichess .cg-board-wrap coords.ranks {
        left: -16px;
    }
    #fpmenu .user,
    #fpmenu .anon {
        padding-bottom: 24px
    }
    #fpmenu .footer {
        padding: inherit
    }
    #fpmenu .footer a {
        padding: 12px 10px
    }
    #lichess div.round.cg-512, #lidraughts div.round.cg-512 {
        padding-left: initial
    }
    #lichess #start_buttons, #lidraughts #start_buttons {
        justify-content: initial;
        width: 234px
    }
    #timeline {
        height: auto !important
    }
    #hooks_wrap div.tabs,
    #site_header > div.under_chat > #featured_game {
        display: none
    }
    #daily_puzzle {
        width: 224px;
        position: absolute;
        top: 267px;
        left: 532px;
    }
    div.lichess_game div.lichess_ground {
        padding-left: 15px
    }
    div.underboard .center {
        padding-top: 10px
    }
    div.user_show div.content_box_inter.tabs {
        margin: inherit;
        padding: 4px 0px 0px 0px;
        width: inherit;
        border: none
    }
    body.dark .scheduled td.name a,
    body.dark #enterable_simuls td.name a {
        color: #FF0 !important;
        text-shadow: none !important
    }
    body.dark a [style] {
        text-shadow: -1px -1px #000, -1px 1px #000, 1px -1px #000, 1px 1px #000 !important
    }
    body.dark .scheduled td.name a [data-icon]::before,
    body.dark #enterable_simuls td.name a [data-icon]::before {
        color: #FFF !important;
        text-shadow: none !important
    }
    body.dark div.game_infos > div.header {
        white-space: nowrap
    }
    body.dark #tournament .time,
    body.dark #tournament table double,
    body.dark move.active,
    body.dark .side_box .clock *,
    body.dark .user_tv {
        color: #FF0 !important
    }
    body.dark #tournament a.user_link .progress,
    body.dark #tournament .rating.progress {
        color: #FFF
    }
    body.dark [data-icon]:not(.positive):not(.negative):not([data-icon="\\"])::before {
        color: #00F
    }
    body.dark [data-icon]:not(.positive):not(.negative):not(.offline):not([data-icon="\\"])::before {
        text-shadow: -1px -1px #0FF, -1px 1px #0FF, 1px -1px #0FF, 1px 1px #0FF
    }
    body.dark .color-icon::before {
        color: #FFF
    }
    body.dark move:not(.active) {
        color: #0DD
    }
    body.dark #tournament streak,
    body.dark span.extension,
    body.dark .button,
    body.dark a:not(.win):not(.loss):not(.draw):not([style]) {
        color: #0EF !important
    }
    body.dark #simul .game_list .host.vstext {
        background-color: #707 !important
    }
    body.dark #fpmenu h2,
    body.dark #fpmenu .perf strong,
    body.dark #friend_box .title,
    body.dark div.undertable_top span.title,
    body.dark span.extract,
    body.dark .player p,
    body.dark span[class=""],
    body.dark #chat span,
    body.dark #opening .meter .step,
    body.dark .side_box p,
    body.dark .side_box .top,
    body.dark #lichess_forum div.post .message, body.dark #lidraughts_forum div.post .message,
    body.dark #lichess_message div.thread_message div.thread_message_body, body.dark #lidraughts_message div.thread_message div.thread_message_body,
    body.dark div,
    body.dark #powerTip .ratings *,
    body.dark table.slist thead,
    body.dark .tview2 > index,
    body.dark .tview2 comment {
        color: #0F0
    }
    body.dark svg text {
        fill: #FFF !important
    }
    body.dark #fpmenu .progress,
    body.dark #hooks_wrap .table_wrap .varicon::before,
    body.dark #qa .tag,
    body.dark .lobby_box span {
        opacity: 1 !important
    }
    body.dark #tournament_side playing {
        color: #0EF !important;
        text-shadow: none
    }
    body.dark span.progress > .positive,
    body.dark div.game_row span.up,
    body.dark span.rp.up,
    body.dark #tournament_side win,
    body.dark .crosstable .win,
    body.dark .training > .side .win {
        color: #FF0;
        text-shadow: none
    }
    body.dark span.progress > .negative,
    body.dark div.game_row span.down,
    body.dark span.rp.down,
    body.dark #tournament_side loss,
    body.dark .crosstable .loss,
    body.dark .training > .side .loss {
        color: #F00;
        text-shadow: none
    }
    body.dark span.progress > .negative,
    body.dark div.game_row span.down,
    body.dark span.rp.down,
    body.dark #tournament_side draw,
    body.dark .crosstable .draw,
    body.dark .training > .side .draw {
        color: #0F0;
        text-shadow: none
    }
    body.dark #tournament_side,
    body.dark,
    body.dark #fpmenu,
    body.dark #powerTip,
    body.dark table,
    body.dark #site_header .watchers,
    body.dark .table_wrap > .clock > div:not(.bar),
    body.dark .undertable_inner,
    body.dark .lichess_ground .replay .turn .index, body.dark .lidraughts_ground .replay .turn .index,
    body.dark .lichess_ground .variation, body.dark .lidraughts_ground .variation {
        background: black !important
    }
    body.dark .pocket {
        background: #147
    }
    body.dark #fpmenu .perf::before {
        text-shadow: -1px -1px #FF0, -1px 1px #FF0, 1px -1px #FF0, 1px 1px #FF0
    }
    body.dark #topmenu a,
    body.dark #fpmenu a,
    body.dark .button,
    body.dark a:not(#themepicker_toggle):not(.active):not(.win):not(.loss):not(.draw):not([style]) {
        text-shadow: -1px -1px #00F, -1px 1px #00F, 1px -1px #00F, 1px 1px #00F;
        letter-spacing: 0.08em
    }
    body.dark #tournament .user_link.long {
        letter-spacing: inherit
    }
    body.dark .relay span,
    body.dark .stream span,
    body.dark .user_link span.title {
        text-shadow: none
    }
    body.dark .relay span,
    body.dark .stream span,
    body.dark .user_link span:not(.title) {
        color: #0FF;
        text-shadow: none
    }
    body.dark #site_header .sub_ratings h3 {
        letter-spacing: 0.1em
    }
    body.dark #fpmenu .perf strong,
    body.dark #nb_connected_players > strong,
    body.dark #nb_games_in_play > span,
    body.dark .crosstable th,
    body.dark .crosstable td,
    body.dark .fen_pgn strong,
    body.dark .fen_pgn input.fen,
    body.dark .fen_pgn .pgn {
        font-family: 'Liberation Mono', 'Roboto', Geneva, Verdana, sans-serif;
        font-weight: inherit
    }
    body.dark #lichess .insight strong, body.dark #lidraughts .insight strong,
    body.dark #lichess .game_row strong, body.dark #lidraughts .game_row strong,
    body.dark .time * {
        font-family: 'Liberation Mono', 'Roboto', Geneva, Verdana, sans-serif !important;
        font-weight: bold !important
    }
    body.dark div.user_show .insight strong {
        color: inherit
    }
    body.dark .replay .index,
    body.dark .replay move {
        line-height: normal
    }
    body.dark .infos > .versus * {
        line-height: normal !important
    }
    body.dark div.game_row div.versus .swords {
        font-size: 36px
    }
    body.dark #hooks_wrap .lobby_box th,
    body.dark *:not(move):not(strong):not(.comment):not(.fen):not(.fen_pgn):not(.pgn) {
        font-family: 'Liberation Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        letter-spacing: 0.04em;
        line-height: 145%
    }
    body.dark #fpmenu *:not(strong),
    body.dark #start_buttons a.button,
    body.dark #streams_on_air a.stream,
    body.dark #streams_on_air a.stream span,
    body.dark #timeline a {
        font-family: 'Liberation Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important
    }
    body.dark div.infos {
        font-size: 14px
    }
    body.dark div.pdn, body.dark div.pgn {
        font-family: 'ChessSansPiratf', 'Liberation Mono', 'Roboto', Geneva, Verdana, sans-serif;
        font-weight: bold
    }
}
